:root {
    --primary-color: #AB886D;
    --primary-light: #FDF1E7;
    --primary-dark: #8A6D4E;

    --accent-color: #F7D7BE;
    --text-dark: #333;
    --text-light: #999;

    --success-color: #28a745;
    --error-color: #dc3545;
    --neutral-color: #999;

    --bg-light: #f9f9f9;
    --bg-white: #fff;

    --card-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
}