.analysis-report {
    display: flex;
}

.dashboard-main {
    flex: 1;
    padding: 24px;
    background-color: #f0f4f8;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard-main h2 {
    font-size: 28px;
    color: #1e2a38;
    margin-bottom: 1rem;
}

.cards-container {
    display: flex;
    gap: 24px;
    margin-bottom: 2rem;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.2s ease;
    flex: 1;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    font-size: 18px;
    margin-top: 10px;
    color: #22303c;
}

.card svg {
    margin-bottom: 10px;
}

.big-number {
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
    color: #0d1b2a;
}

.chart-filters {
    display: flex;
    justify-content: start;
    margin-bottom: 2rem;
}

.filter-group {
    display: flex;
    flex-direction: column;
}

.filter-group label {
    font-size: 14px;
    color: #4a4a4a;
}

.chart-filters select {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 14px;
}

.chart-container {
    margin-top: 2rem;
    background: #ffffff;
    padding: 50px;
    border-radius: 16px;
    gap: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
}

.chart-container h3 {
    font-size: 22px;
    margin-bottom: 1rem;
    color: #1e2a38;
}

.pie-charts-flex {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 2rem;
}

.pie-chart {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
}


.age-distribution {
    background: #ffffff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
    margin-top: 2rem;
}

.age-distribution h3 {
    font-size: 18px;
    margin-bottom: 1rem;
    color: #1e2a38;
}

.top-destinations {
    margin-top: 2rem;
    background: #ffffff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
}

.top-destinations .table-header h3 {
    font-size: 22px;
    margin-bottom: 1rem;
    color: #1e2a38;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        gap: 16px;
    }


}