.map-container {
    width: 100%;
    border: 2px solid #ddd;
}

.custom-marker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapboxgl-canvas {
    width: 100% !important;
    height: 100% !important;
}